USE [QuanLiThuVien]
GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonTra](
	[MuontraID] [int] IDENTITY(1,1) NOT NULL,
	[NhanvienmuonID] [int] NULL,
	[NhanvientraID] [int] NULL,
	[Ngaymuon] [date] NULL,
	[Ngaytra] [date] NULL,
	[ThethuvienID] [int] NULL,
	[SachID] [int] NULL,
	[Ghichu] [nvarchar](50) NULL,
	[Datra] [bit] NULL,
	[soluong] [int] NULL,
 CONSTRAINT [PK_MuonTra] PRIMARY KEY CLUSTERED 
(
	[MuontraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[SachID] [int] IDENTITY(1,1) NOT NULL,
	[Tensach] [nvarchar](50) NULL,
	[ImgLink] [varchar](100) NULL,
	[TacgiaID] [int] NULL,
	[TheloaiID] [int] NULL,
	[NhaxuatbanID] [int] NULL,
	[Namxuatban] [int] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[SachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[TacgiaID] [int] IDENTITY(1,1) NOT NULL,
	[Tentacgia] [nvarchar](50) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[TacgiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheThuVien]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheThuVien](
	[ThethuvienID] [int] IDENTITY(1,1) NOT NULL,
	[NhanvienID] [int] NULL,
	[Ngaytaothe] [date] NULL,
	[Ngayhethan] [date] NULL,
	[Solangiahan] [int] NULL,
	[Trangthai] [bit] NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[tentk] [nvarchar](50) NULL,
	[sdt] [char](12) NULL,
	[mail] [varchar](50) NULL,
	[diachi] [nvarchar](200) NULL,
 CONSTRAINT [PK_TheThuVien] PRIMARY KEY CLUSTERED 
(
	[ThethuvienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SLsachMuonTG]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SLsachMuonTG]
as 
select COUNT(Sach.SachID) as SL
from MuonTra,TheThuVien,Sach,TacGia
where MuonTra.SachID = Sach.SachID and MuonTra.ThethuvienID = TheThuVien.ThethuvienID and Sach.TacgiaID = Tacgia.TacgiaID and TacGia.Tentacgia = N'Nguyễn Nhật Ánh'
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[DocgiaID] [int] IDENTITY(1,1) NOT NULL,
	[Tendocgia] [nvarchar](50) NULL,
	[ThethuvienID] [int] NULL,
	[SDT] [varchar](11) NULL,
	[Diachi] [nvarchar](100) NULL,
	[mail] [varchar](50) NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[DocgiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanvienID] [int] IDENTITY(1,1) NOT NULL,
	[Tennhanvien] [nvarchar](50) NULL,
	[Diachi] [nvarchar](50) NULL,
	[SDT] [varchar](11) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[NhanvienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien_History]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien_History](
	[ID_Change] [int] IDENTITY(1,1) NOT NULL,
	[IDnhanvien] [int] NOT NULL,
	[Tennhanvien] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Operation] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Change] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[NhaxuatbanID] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
	[Diachi] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[NhaxuatbanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 5/20/2021 11:14:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[TheloaiID] [int] IDENTITY(1,1) NOT NULL,
	[Tentheloai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[TheloaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [name], [pass]) VALUES (1, N'admin', N'123456')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[DocGia] ON 

INSERT [dbo].[DocGia] ([DocgiaID], [Tendocgia], [ThethuvienID], [SDT], [Diachi], [mail]) VALUES (1, N'Lưu Thị Nhật Mai', 2, N'0367558797', N'Hà Nội', NULL)
INSERT [dbo].[DocGia] ([DocgiaID], [Tendocgia], [ThethuvienID], [SDT], [Diachi], [mail]) VALUES (2, N'Vũ Thanh Hằng', 2, N'0351234569', N'Quảng Ninh', NULL)
INSERT [dbo].[DocGia] ([DocgiaID], [Tendocgia], [ThethuvienID], [SDT], [Diachi], [mail]) VALUES (3, N'Lương Thị Diễm Quỳnh', 3, N'0987466321', N'Hà Tĩnh', NULL)
SET IDENTITY_INSERT [dbo].[DocGia] OFF
GO
SET IDENTITY_INSERT [dbo].[MuonTra] ON 

INSERT [dbo].[MuonTra] ([MuontraID], [NhanvienmuonID], [NhanvientraID], [Ngaymuon], [Ngaytra], [ThethuvienID], [SachID], [Ghichu], [Datra], [soluong]) VALUES (1, 2, 1, CAST(N'2019-05-01' AS Date), CAST(N'2019-12-25' AS Date), 2, 5, N'', 1, NULL)
INSERT [dbo].[MuonTra] ([MuontraID], [NhanvienmuonID], [NhanvientraID], [Ngaymuon], [Ngaytra], [ThethuvienID], [SachID], [Ghichu], [Datra], [soluong]) VALUES (2, 2, 3, CAST(N'2019-05-01' AS Date), CAST(N'2019-10-11' AS Date), 6, 1, N'', 1, NULL)
INSERT [dbo].[MuonTra] ([MuontraID], [NhanvienmuonID], [NhanvientraID], [Ngaymuon], [Ngaytra], [ThethuvienID], [SachID], [Ghichu], [Datra], [soluong]) VALUES (4, 5, 9, CAST(N'2019-11-02' AS Date), CAST(N'2020-01-10' AS Date), 2, 8, N'', 0, NULL)
SET IDENTITY_INSERT [dbo].[MuonTra] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([NhanvienID], [Tennhanvien], [Diachi], [SDT]) VALUES (1, N'Nguyễn Tư Tỉnh', N'Quảng Ninh', N'03641254138')
INSERT [dbo].[NhanVien] ([NhanvienID], [Tennhanvien], [Diachi], [SDT]) VALUES (2, N'Nguyễn Ngọc Trung', N'Hà Nam', N'0956468123')
INSERT [dbo].[NhanVien] ([NhanvienID], [Tennhanvien], [Diachi], [SDT]) VALUES (3, N'Nguyễn Xuân Dương', N'Hà Nội', N'03123456987')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien_History] ON 

INSERT [dbo].[NhanVien_History] ([ID_Change], [IDnhanvien], [Tennhanvien], [Diachi], [SDT], [Updated_at], [Operation]) VALUES (1, 2014, N'Hoa Tất Thắng', N'Hà Nội', N'945632536 ', CAST(N'2020-04-12T20:52:46.007' AS DateTime), N'INS       ')
INSERT [dbo].[NhanVien_History] ([ID_Change], [IDnhanvien], [Tennhanvien], [Diachi], [SDT], [Updated_at], [Operation]) VALUES (4, 2014, N'Hoa Tất Thắng', N'Hà Nội', N'945632536 ', CAST(N'2020-04-12T20:57:19.220' AS DateTime), N'DEL       ')
INSERT [dbo].[NhanVien_History] ([ID_Change], [IDnhanvien], [Tennhanvien], [Diachi], [SDT], [Updated_at], [Operation]) VALUES (7, 2, N'Nguyễn Ngọc Trung', N'Hà Nam', N'0956468123', CAST(N'2020-04-12T20:59:48.107' AS DateTime), N'After_Up  ')
SET IDENTITY_INSERT [dbo].[NhanVien_History] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([NhaxuatbanID], [TenNXB], [Diachi], [Email]) VALUES (1, N'Nhà xuất bản Kim Đồng', N'Hà Nội', N'kimdong123@yahoo.vn')
INSERT [dbo].[NhaXuatBan] ([NhaxuatbanID], [TenNXB], [Diachi], [Email]) VALUES (2, N'Nhà xuất bản Trẻ', N'Hồ Chí Minh', N'trexuatban11@gmail.com')
INSERT [dbo].[NhaXuatBan] ([NhaxuatbanID], [TenNXB], [Diachi], [Email]) VALUES (3, N'Nhà xuất bản Tổng hợp thành phố Hồ Chí Minh', N'Hồ Chí Minh', N'tonghopthanhphoHCM@edu.vn')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([SachID], [Tensach], [ImgLink], [TacgiaID], [TheloaiID], [NhaxuatbanID], [Namxuatban]) VALUES (1, N'Kafka on the Shore', N'kafkaShore.jpg', 14, 5, 12, 2012)
INSERT [dbo].[Sach] ([SachID], [Tensach], [ImgLink], [TacgiaID], [TheloaiID], [NhaxuatbanID], [Namxuatban]) VALUES (2, N'Đắc nhân tâm', N'266019_p76435mscan0001.jpg', 1, 1, 1, 2021)
INSERT [dbo].[Sach] ([SachID], [Tensach], [ImgLink], [TacgiaID], [TheloaiID], [NhaxuatbanID], [Namxuatban]) VALUES (3, N'Đời CallBoy', N'thach_trangg_101029297_573874646879779_1794923475739360981_n.jpg', 1, 1, 1, 1999)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([TacgiaID], [Tentacgia]) VALUES (1, N'Nguyễn Ngọc Thạch')
INSERT [dbo].[TacGia] ([TacgiaID], [Tentacgia]) VALUES (2, N'Nguyễn Nhật Ánh')
INSERT [dbo].[TacGia] ([TacgiaID], [Tentacgia]) VALUES (3, N'Hạ Vũ')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([TheloaiID], [Tentheloai]) VALUES (1, N'Chính trị – Pháp luật')
INSERT [dbo].[TheLoai] ([TheloaiID], [Tentheloai]) VALUES (2, N'Khoa học công nghệ – Kinh tế')
INSERT [dbo].[TheLoai] ([TheloaiID], [Tentheloai]) VALUES (3, N'Văn hóa xã hội – Lịch sử')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[TheThuVien] ON 

INSERT [dbo].[TheThuVien] ([ThethuvienID], [NhanvienID], [Ngaytaothe], [Ngayhethan], [Solangiahan], [Trangthai], [username], [password], [tentk], [sdt], [mail], [diachi]) VALUES (2, 3, CAST(N'2018-01-01' AS Date), CAST(N'2020-12-31' AS Date), 10, 1, N'admin123', N' 12345678', N'tan', N'0973316682  ', N'ngoctan7d@gmail.com', N'HNi hkabglqb')
INSERT [dbo].[TheThuVien] ([ThethuvienID], [NhanvienID], [Ngaytaothe], [Ngayhethan], [Solangiahan], [Trangthai], [username], [password], [tentk], [sdt], [mail], [diachi]) VALUES (3, 7, CAST(N'2019-01-01' AS Date), CAST(N'2021-12-31' AS Date), 2, 1, N'ngoctan7d', N'12345678', N'Taannn', N'1234567890  ', N'bfka@gmail.com', N'Haf Nooij HCM ')
INSERT [dbo].[TheThuVien] ([ThethuvienID], [NhanvienID], [Ngaytaothe], [Ngayhethan], [Solangiahan], [Trangthai], [username], [password], [tentk], [sdt], [mail], [diachi]) VALUES (4, 9, CAST(N'2019-02-01' AS Date), CAST(N'2021-12-31' AS Date), 1, 1, N'tinh123', N'123456', N'Tinhfff', N'1234441514  ', N'ngoc@gmail.com', N'HaNoinkngaag')
SET IDENTITY_INSERT [dbo].[TheThuVien] OFF
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [FK_DocGia_TheThuVien] FOREIGN KEY([ThethuvienID])
REFERENCES [dbo].[TheThuVien] ([ThethuvienID])
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [FK_DocGia_TheThuVien]
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [FK_MuonTra_NhanVien] FOREIGN KEY([NhanvienmuonID])
REFERENCES [dbo].[NhanVien] ([NhanvienID])
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [FK_MuonTra_NhanVien]
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [FK_MuonTra_NhanVien1] FOREIGN KEY([NhanvientraID])
REFERENCES [dbo].[NhanVien] ([NhanvienID])
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [FK_MuonTra_NhanVien1]
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [FK_MuonTra_Sach] FOREIGN KEY([SachID])
REFERENCES [dbo].[Sach] ([SachID])
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [FK_MuonTra_Sach]
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD  CONSTRAINT [FK_MuonTra_TheThuVien] FOREIGN KEY([ThethuvienID])
REFERENCES [dbo].[TheThuVien] ([ThethuvienID])
GO
ALTER TABLE [dbo].[MuonTra] CHECK CONSTRAINT [FK_MuonTra_TheThuVien]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([NhaxuatbanID])
REFERENCES [dbo].[NhaXuatBan] ([NhaxuatbanID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([TacgiaID])
REFERENCES [dbo].[TacGia] ([TacgiaID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([TheloaiID])
REFERENCES [dbo].[TheLoai] ([TheloaiID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
ALTER TABLE [dbo].[TheThuVien]  WITH CHECK ADD  CONSTRAINT [FK_TheThuVien_NhanVien] FOREIGN KEY([NhanvienID])
REFERENCES [dbo].[NhanVien] ([NhanvienID])
GO
ALTER TABLE [dbo].[TheThuVien] CHECK CONSTRAINT [FK_TheThuVien_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien_History]  WITH CHECK ADD CHECK  (([Operation]='INS' OR [Operation]='DEL' OR [Operation]='Before_Up' OR [Operation]='After_Up'))
GO
/****** Object:  StoredProcedure [dbo].[abc]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[abc](@temp nvarchar(100))
as 
select COUNT(Sach.SachID) as SL
from MuonTra,TheThuVien,Sach,TacGia
where MuonTra.SachID = Sach.SachID and MuonTra.ThethuvienID = TheThuVien.ThethuvienID and Sach.TacgiaID = Tacgia.TacgiaID and TacGia.Tentacgia = N'Nguyễn Nhật Ánh'
GO
/****** Object:  StoredProcedure [dbo].[AllBook]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create proc [dbo].[AllBook]

as
begin
	select *
	from Sach

end
GO
/****** Object:  StoredProcedure [dbo].[DocGiaMuonSachNhieuNhat]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DocGiaMuonSachNhieuNhat]
as
begin
	select top(1) COUNT(dg.DocgiaID) as N'Sô lần mượn', dg.DocgiaID, dg.Tendocgia 
	from TheThuVien ttv 
	inner join DocGia dg on dg.ThethuvienID = ttv.ThethuvienID
	inner join MuonTra mt on mt.ThethuvienID = ttv.ThethuvienID
	group by dg.DocgiaID, dg.Tendocgia
	order by COUNT(dg.DocgiaID) desc
end
GO
/****** Object:  StoredProcedure [dbo].[DocGiaQuaHanMuonSach]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DocGiaQuaHanMuonSach]
as
begin
	select dg.* from TheThuVien ttv 
	inner join DocGia dg on dg.ThethuvienID = ttv.ThethuvienID
	inner join MuonTra mt on mt.ThethuvienID = ttv.ThethuvienID
	where GETDATE() > mt.Ngaytra and mt.Datra = 0
end
GO
/****** Object:  StoredProcedure [dbo].[nhanVienDelete]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[nhanVienDelete]
	@id int
as
begin
	delete nv
	from NhanVien as nv
	
	inner join MuonTra mt on (mt.NhanvienmuonID=nv.NhanvienID or mt.NhanvientraID=nv.NhanvienID)
	inner join TheThuVien ttv on ttv.NhanvienID=nv.NhanvienID
	inner join DocGia dg on dg.ThethuvienID=ttv.ThethuvienID
	where nv.NhanvienID=@id
end
GO
/****** Object:  StoredProcedure [dbo].[nhanVienInsert]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[nhanVienInsert]
	@name nvarchar(50),
	@address nvarchar(50),
	@sdt varchar(11)
as
begin
	insert NhanVien (Tennhanvien, Diachi, SDT)
	values (@name, @address, @sdt)
end

GO
/****** Object:  StoredProcedure [dbo].[nhanVienUpdate]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[nhanVienUpdate]
	@id int,
	@name nvarchar(50),
	@address nvarchar(50),
	@sdt varchar(11)
as
begin
	update NhanVien set Tennhanvien=@name, Diachi=@address, SDT=@sdt
	where NhanvienID=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SachDaMuonTrongThang]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SachDaMuonTrongThang]
	@thang int,
	@nam int
as
begin
	select distinct s.* from MuonTra mt
	inner join Sach s on mt.SachID = s.SachID
	where MONTH(mt.Ngaymuon) = @thang and YEAR(mt.Ngaymuon) = @nam
end
GO
/****** Object:  StoredProcedure [dbo].[SachDuocMuon]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SachDuocMuon]
	@top int
as
begin
	select  distinct top(@top) s.*
	from Sach s, MuonTra mt
	where mt.SachID = s.SachID


end
GO
/****** Object:  StoredProcedure [dbo].[slsach1]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[slsach1](@temp nvarchar(50))
as begin 
select COUNT(Sach.SachID) as SL
from MuonTra,TheThuVien,Sach,TacGia
where MuonTra.SachID = Sach.SachID and MuonTra.ThethuvienID = TheThuVien.ThethuvienID and Sach.TacgiaID = Tacgia.TacgiaID and TacGia.Tentacgia = @temp
end

GO
/****** Object:  StoredProcedure [dbo].[TheThuVienDalete]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TheThuVienDalete]
	@id int
as
begin
	delete DocGia where DocGia.ThethuvienID=@id
	delete MuonTra where MuonTra.ThethuvienID=@id
	delete TheThuVien where ThethuvienID=@id
end
GO
/****** Object:  StoredProcedure [dbo].[TheThuVienInsert]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TheThuVienInsert]
	@nhanVienID int,
	@ngayTaoThe date,
	@ngayHetHan date,
	@soLanGiaHan int,
	@trangThai bit
as
begin
	insert TheThuVien (NhanvienID,Ngaytaothe,Ngayhethan,Solangiahan,Trangthai)
	values (@nhanVienID,@ngayTaoThe,@ngayHetHan,@soLanGiaHan,@trangThai)
end
GO
/****** Object:  StoredProcedure [dbo].[TheThuVienUpdate]    Script Date: 5/20/2021 11:14:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TheThuVienUpdate]
	@theThuVienID int,
	@nhanVienID int,
	@ngayTaoThe date,
	@ngayHetHan date,
	@soLanGiaHan int,
	@trangThai bit
as
begin
	update TheThuVien set NhanvienID=@nhanVienID,Ngaytaothe=@ngayTaoThe,Ngayhethan=@ngayHetHan,
						Solangiahan=@soLanGiaHan, Trangthai=@trangThai
	where ThethuvienID=@theThuVienID
end
GO
